<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="backend/layout/backend_layout">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>About</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">About Us </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Image </th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="about : ${abouts}">
                                    <td th:utext="${about.id}"></td>
                                    <td th:utext="${about.name}"></td>
                                    <td th:utext="${about.description}"></td>
                                    <td>
                                        <img th:src="@{'/backend/dist/img/about/' + ${about.image}}" width="50" height="50" th:alt="${about.image}" />
                                    </td>
                                    <td><div><a style="margin:5px" class="btn btn-info"
                                                th:href="@{'/admin/about/displayUpdate/'+${about.id}}">Update</a>
                                    </div>
                                        <div>
                                            <a style="margin:5px" class="btn btn-danger"
                                               th:href="@{/admin/about/delete/{idDelete}(idDelete=${about.id})}"
                                               onclick="return confirm('Are you sure to Remove?');">Delete</a>
                                        </div>
                                    </td>

                                </tr>

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- page script -->
<script layout:fragment="scripts">
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    });
</script>
</body>
</html>
























