<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="backend/layout/backend_layout">
<head>
    <meta charset="UTF-8">
    <title>Create new Inventory Detail</title>
</head>
<body>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Create New Invoice Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Create New Invoice Detail</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" th:action="@{/admin/inventory/createInvoiceDetail}" th:object="${inventory}" method="post" >
                            <div class="card-body">
                                <div class="form-group">
                                    <label >Purchase Date</label>
                                    <input  class="form-control" placeholder="Enter Purchase Date" th:field="*{purchaseDate}" required>
                                </div>

                                <div class="form-group">
                                    <label >Starting Inventory</label>
                                    <input  class="form-control" placeholder="Enter Starting Inventory " th:field="*{startingInventory}" required>
                                </div>

                                <div class="form-group">
                                    <label >Quantity Received</label>
                                    <input  class="form-control" placeholder="Enter Quantity Received " th:field="*{quantityReceived}" required>
                                </div>



                                <div class="form-group">
                                    <label >Product</label>
                                    <select th:field="*{product.id}">
                                        <option th:each="product : ${products}"

                                                th:value="${product.id}" th:utext="${product.name}"></option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <label >Supplier</label>
                                    <select th:field="*{supplier.id}">
                                        <option th:each="supplier : ${suppliers}"

                                                th:value="${supplier.id}" th:utext="${supplier.name}"></option>

                                    </select>
                                </div>


                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>

        </div>
    </section>

</div>


</body>
</html>