<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="backend/layout/backend_layout"
      xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Inventory </h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Inventory</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">

<!--                        <div class="alert alert-danger alert-dismissible" th:if="${error != null }">-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
<!--                            <h5><i class="icon fas fa-ban"></i> Alert!</h5>-->
<!--                            <span th:utext="${error}"></span>-->
<!--                        </div>-->

<!--                        <div class="alert alert-success alert-dismissible" th:if="${success != null }">-->
<!--                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>-->
<!--                            <h5><i class="icon fas fa-check"></i> Alert!</h5>-->
<!--                            <span th:utext="${success}"></span>-->
<!--                        </div>-->


                        <div class="card-header clearfix">
                            <a style="margin:5px" class="btn btn-success float-left" th:href="@{/admin/inventory/createFormInvoiceDetail}" >
                                <i class="fas fa-plus"> </i>   Add new Invoice Detail </a>


                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Purchase Date</th>
                                    <th>Starting Inventory</th>
                                    <th>Quantity Received</th>
                                    <th>Inventory on Hand</th>
                                    <th>Product Name</th>
                                    <th>Action</th>



                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="inventory : ${inventory}">
                                    <td><img th:each="image : ${inventory.product.getImagesCollection()}" th:if="${image.mainImage} == true" class="primary-img" th:src="@{'/backend/dist/img/products/' + ${image.getName()}}" width="50" height="50" alt="single-product"></td>
                                    <td th:text="${inventory.purchaseDate}"></td>
                                    <td th:text="${inventory.startingInventory}"></td>
                                    <td th:text="${inventory.quantityReceived}"></td>
                                    <td th:text="${inventory.inventoryOnHand}"></td>
                                    <td th:text="${inventory.product.productName}"></td>
<!--                                    <td th:text="${inventory.product.getSubcategory().getCategory().getName()}"></td>-->
<!--                                    <td th:text="${inventory.product.getSubcategory().getSubName()}"></td>-->


                                    <td>
                                        <div class="row">
                                            <div>

                                                <a style="margin:5px" class="btn btn-info" th:href="@{'/admin/inventory/displayUpdateInventoryDetail/'+ ${inventory.inventoryID}}"><i class="fas fa-edit"></i></a>

                                            </div>


                                            <div>

                                                <a style="margin:5px" class="btn btn-danger " th:href="@{/admin/inventory/delete/{idDelete}(idDelete=${inventory.inventoryID})}" onclick="return confirm('Are you sure you want to Remove?');" ><i class="fas fa-trash"></i></a>

                                            </div>




                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Purchase Date</th>
                                    <th>Starting Inventory</th>
                                    <th>Quantity Received</th>
                                    <th>Inventory on Hand</th>
                                    <th>Product Name</th>
<!--                                    <th>Category</th>-->
<!--                                    <th>Subcategory</th>-->
                                    <th>Action</th>


                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script layout:fragment="scripts">
    $(document).ready(function () {
        $(".alert-dismissible").fadeTo(10000, 500).slideUp(500, function(){
            $(".alert-dismissible").alert('close');
        });
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    })
</script>
</body>
</html>