<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="backend/layout/backend_layout">
<head>
    <meta charset="UTF-8">
    <title>Inventory Detail</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="'Invoice Detail of' + ${inventoryProduct.getProductName()}"> </h1>
                </div>

                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Inventory Detail</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                    <div class="card">

                        <div class="card-header clearfix">
                            <a style="margin:5px" class="btn btn-success float-left" th:href="@{/admin/inventory/createFormInvoiceDetail}" >
                                <i class="fas fa-plus"> </i>   Add new Invoice Detail </a>


                        </div>

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Purchase Date</th>
                                    <th>Starting Inventory</th>
                                    <th>Quantity Received</th>
                                    <th>Inventory on Hand</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Supplier</th>
                                    <th>Action</th>



                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="inventory : ${inventoryProduct.getInventory()}">
                                    <td th:text="${inventory.getInventoryID()}"></td>
                                    <td th:text="${inventory.getPurchaseDate()}"></td>
                                    <td th:text="${inventory.getStartingInventory()}"></td>
                                    <td th:text="${inventory.getQuantityReceived()}"></td>
                                    <td th:text="${inventory.getInventoryOnHand()}"></td>
                                    <td th:text="${inventoryProduct.getProductName()}"></td>
                                    <td th:text="${inventoryProduct.getSubcategory().getCategory().getName()}"></td>
                                    <td th:text="${inventoryProduct.getSubcategory().getSubName()}"></td>
                                    <td th:text="${inventory.getSupplier().getName()}"></td>
                                    <td>
                                        <div class="row">
                                            <div>

                                                <a style="margin:5px" class="btn btn-info" th:href="@{'/admin/inventory/displayUpdateInventoryDetail/'+ ${inventory.inventoryID}}"><i class="fas fa-edit"></i></a>

                                            </div>


                                            <div>

                                                <a style="margin:5px" class="btn btn-danger " th:href="@{/admin/inventory/delete/{idDelete}(idDelete=${inventory.inventoryID})}" onclick="return confirm('Are you sure you want to Remove?');" ><i class="fas fa-trash"></i></a>

                                            </div>


                                        </div>
                                    </td>

                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>#</th>
                                    <th>Purchase Date</th>
                                    <th>Starting Inventory</th>
                                    <th>Quantity Received</th>
                                    <th>Inventory on Hand</th>
                                    <th>Product Name</th>
                                    <th>Category</th>
                                    <th>Subcategory</th>
                                    <th>Supplier</th>
                                    <th>Action</th>


                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script layout:fragment="scripts">
    $(document).ready(function () {
        $(".alert-dismissible").fadeTo(10000, 500).slideUp(500, function(){
            $(".alert-dismissible").alert('close');
        });
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
        });
    })
</script>
</body>
</html>