<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frontend/layout/frontend_layout"
      xmlns:td="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>View All Products</title>
</head>
<body>
    <div layout:fragment="content">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-area mt-30">
            <div class="container">
                <div class="breadcrumb">
                    <ul class="d-flex align-items-center">
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="checkout.html">Checkout</a></li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Breadcrumb End -->
        <!-- coupon-area start -->
        <div class="coupon-area pt-100 pt-sm-60" th:if="${session.gioHang != null}">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="coupon-accordion" sec:authorize="!isAuthenticated()">
                            <!-- ACCORDION START -->
                            <h3>You have an account? <span id="showlogin">Click here to login</span></h3>
                            <div id="checkout-login" class="coupon-content">
                                <div class="coupon-info">
                                    <form action="#" th:action="@{/login}" method="post">
                                        <p class="form-row-first">
                                            <label>Username or email <span class="required">*</span></label>
                                            <input type="email" name="email" id="email" required>
                                        </p>
                                        <p class="form-row-last">
                                            <label>Password  <span class="required">*</span></label>
                                            <input type="password" name="password" id="password" required>
                                        </p>
                                        <p class="form-row">
                                            <input type="submit" value="Login">
                                        </p>
                                    </form>
                                </div>
                            </div>
                            <!-- ACCORDION END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- coupon-area end -->
        <!-- checkout-area start -->
        <div class="checkout-area pb-100 pt-15 pb-sm-60" th:if="${session.gioHang != null}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="checkbox-form mb-sm-40">
                            <h3>Billing Details</h3>
                                <div sec:authorize="isAuthenticated()">
                                    <form th:action="@{/doCheckout}" th:object="${order}" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-sm-30">
                                                <label>First Name <span class="required">*</span></label>
                                                <input type="text" placeholder="First Name"th:value="${currentUser.getFirstName()}" name="firstName">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>Last Name <span class="required">*</span></label>
                                                <input type="text" placeholder="Last name" th:value="${currentUser.getLastName()}" name="lastName">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>County <span class="required">*</span></label>
                                                <input type="text" placeholder="Country" th:value="${currentUser.getAddressDto().country}" name="country">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>State<span class="required">*</span></label>
                                                <input type="text" placeholder="State" th:value="${currentUser.getAddressDto().stateOrRegion}" name="stateOrRegion">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>Town / City <span class="required">*</span></label>
                                                <input type="text" placeholder="Town / City" th:value="${currentUser.getAddressDto().city}" name="city">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkout-form-list mb-30">
                                                <label>Postcode / Zip <span class="required">*</span></label>
                                                <input type="text" placeholder="Postcode / Zip" th:value="${currentUser.getAddressDto().postalCode}" name="postalCode">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="checkout-form-list mb-30">
                                                <label>Address <span class="required">*</span></label>
                                                <input type="text" placeholder="Street address" th:value="${currentUser.getAddressDto().address}" name="address">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Email  <span class="required">*</span></label>
                                                    <input type="email" placeholder="Email" th:value="${currentUser.email}" name="email">
                                                </div>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="checkout-form-list mb-30">
                                                <label>Phone  <span class="required">*</span></label>
                                                <input type="text" placeholder="Phone number" th:value="${currentUser.phoneNumber}" name="phoneNumber">
                                            </div>
                                        </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="checkout-form-list mb-30">
                                                    <label>Method Payment  <span class="required">*</span></label>
                                                    <div class="custom-control custom-radio custom-control-inline" th:each="model : ${T(vn.aptech.springboot.amazingtoy.model.order.PaymentMethod).values()}">
                                                        <input type="radio" th:field="*{paymentMethod}" th:value="${model}" class="custom-control-input">
                                                        <label class="custom-control-label" th:for="${#ids.prev('paymentMethod')}"  th:text="${model}"></label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <a href="#" class="readmore pull-left">Shopping Cart</a>
                                            <input type="submit" class="readmore pull-right" value="Check out"/>
                                        </div>
                                    </div>

                                </form>
                                </div>
                            <div sec:authorize="!isAuthenticated()">
                            <form th:action="@{/doCheckout}" th:object="${order}" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-sm-30">
                                            <label>First Name <span class="required">*</span></label>
                                            <input type="text" placeholder="First Name" id="firstName" th:field="*{firstName}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Last Name <span class="required">*</span></label>
                                            <input type="text" placeholder="Last name" th:field="*{lastName}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>County <span class="required">*</span></label>
                                            <input type="text" placeholder="Country" th:field="*{country}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>State<span class="required">*</span></label>
                                            <input type="text" placeholder="State" th:field="*{stateOrRegion}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Town / City <span class="required">*</span></label>
                                            <input type="text" placeholder="Town / City" th:field="*{city}" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label>Postcode / Zip <span class="required">*</span></label>
                                            <input type="text" placeholder="Postcode / Zip" th:field="*{postalCode}" required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Address <span class="required">*</span></label>
                                            <input type="text" placeholder="Street address" th:field="*{address}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Email  <span class="required">*</span></label>
                                            <input type="email" placeholder="Email" th:field="*{email}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Phone  <span class="required">*</span></label>
                                            <input type="text" placeholder="Phone number" th:field="*{phoneNumber}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list mb-30">
                                            <label>Method Payment  <span class="required">*</span></label>
                                            <div class="custom-control custom-radio custom-control-inline" th:each="model : ${T(vn.aptech.springboot.amazingtoy.model.order.PaymentMethod).values()}">
                                                <input type="radio" th:field="*{paymentMethod}" th:value="${model}" class="custom-control-input">
                                                <label class="custom-control-label" th:for="${#ids.prev('paymentMethod')}"  th:text="${model}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="#" class="readmore pull-left">Shopping Cart</a>
                                        <input type="submit" class="readmore pull-right" value="Check out"/>
                                    </div>
                                </div>

                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="your-order">
                            <h3>Your order</h3>
                            <div class="your-order-table table-responsive">
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="product-image">Image</th>
                                        <th class="product-name">Product</th>
                                        <th class="product-quantity">Quantity</th>
                                        <th class="product-total">Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="cart_item" th:each="map: ${session.gioHang.items}">
                                        <td class="product-image">
                                            <img width="70" height="70" th:each="image: ${map.product.imagesCollection}" th:if="${image.mainImage==true}" th:src="@{'/backend/dist/img/products/' + ${image.name}}" alt="cart-image">
                                        </td>
                                        <td class="product-name" th:text="${map.product.productName}"></td>
                                        <td class="product-quantity" th:text="'X ' + ${map.quantity}"></td>
                                        <td class="product-total">
                                            <span class="amount" th:text="${map.subTotal}"></span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr class="cart-subtotal">
                                        <th></th>
                                        <th></th>
                                        <th>Cart Subtotal</th>
                                        <td><span class="amount" th:text="${session.gioHang.total}"></span></td>
                                    </tr>
                                    <tr class="cart-subtotal">
                                        <th></th>
                                        <th></th>
                                        <th>Price Ship</th>
                                        <td><span class="amount" th:text="${session.gioHang.total} * 0.1"></span></td>
                                    </tr>
                                    <tr class="order-total">
                                        <th></th>
                                        <th></th>
                                        <th>Order Total</th>
                                        <td><span class=" total amount" th:text="${session.gioHang.total+(session.gioHang.total * 0.1)}"></span>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-area pb-100 pt-15 pb-sm-60" th:unless="${session.gioHang != null}">
            <div class="col-md-12">
                <div class="error-wrapper text-center">
                    <div class="error-text">
                        <h2>NO ITEM TO CHECKOUT</h2>
                        <p>You should add items</p>
                    </div>
                    <div class="error-button">
                        <a th:href="@{/}">Back to home page</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- checkout-area end -->
    </div>
</body>
</html>