<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="backend/layout/backend_layout"
      xmlns:td="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Reply Form</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-8 offset-2">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <h3 class="card-title">Send  Reply Mail to Customer</h3>
                                </div>
                                <div class="col-sm-6">
                                    <a th:href="@{/admin/contactUs}" class="btn float-right" title="List"><i class="fa fa-list"></i><span class="hidden-xs"> Back List</span></a>
                                </div>
                            </div>
                        </div>
                        <!-- form start -->
                        <form role="form" th:action="@{/admin/contactUs/doUpdate}" th:object="${contactUs}" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" th:field="*{name}" readonly="true" />
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="text" class="form-control" th:field="*{email}" readonly>
                                </div>
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" th:field="*{subject}" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea class="textarea" th:field="*{message}" readonly name="message" id="message" placeholder="Place some text here"
                                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer d-flex justify-content-center">
                                    <input type="hidden" th:field="*{id}">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<script layout:fragment="scripts">
    $(document).ready(function () {
        bsCustomFileInput.init();
        $('.textarea').summernote();
    });
</script>

</body>
</html>