<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="dashboard-menu" th:fragment="menu">
    <li>
        <a href="dashboard.html"><i class="fa fa-dashboard"></i>Dashboard</a>
    </li>
    <li>
        <a href="#0" class="active"><i class="fa fa-user"></i>Personal Profile </a>
    </li>
    <li>
        <a href="my-bid.html"><i class="fa fa-balance-scale"></i>My Bids</a>
    </li>
    <li>
        <a href="winning-bids.html"><i class="fa fa-trophy" aria-hidden="true"></i>Winning Bids</a>
    </li>
    <li>
        <a href="notifications.html"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>My Cart</a>
    </li>
    <li>
        <a href="my-favorites.html"><i class="fa fa-heart" aria-hidden="true"></i>My Favorites</a>
    </li>
</ul>
</body>
</html>