<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul class="dashboard-menu" th:fragment="menu">
    <li>
        <a th:href="@{/account/dashboard}" th:classappend="${#request.getServletPath().contains('/account/dashboard') ? ' active' : ''}"><i class="fa fa-dashboard"></i>Dashboard</a>
    </li>
    <li>
        <a th:href="@{/account/profile}" th:classappend="${#request.getServletPath().contains('/account/profile') ? ' active' : ''}"><i class="fa fa-user"></i>Personal Profile </a>
    </li>
    <li>
        <a href="my-bid.html"><i class="fa fa-balance-scale"></i>My Bids</a>
    </li>
    <li>
        <a href="winning-bids.html"><i class="fa fa-trophy" aria-hidden="true"></i>Winning Bids</a>
    </li>
<!--    <li>-->
<!--        <a href="notifications.html"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>My Cart</a>-->
<!--    </li>-->
    <li>
        <a th:href="@{/account/wishlist}" th:classappend="${#request.getServletPath().contains('/account/wishlist') ? ' active' : ''}"><i class="fa fa-heart" aria-hidden="true"></i>My Wishlist</a>
    </li>
</ul>
</body>
</html>