<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="frontend/layout/frontend_layout">
<head>
    <meta charset="UTF-8">
    <title>My Wishlist</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="../../index.html">Home</a></li>
                    <li class="active"><a href="wishlist.html">Profile</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!--============= Dashboard Section Starts Here =============-->
    <section class="dashboard-section padding-bottom mt--240 mt-lg--440 pos-rel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-7 col-lg-4">
                    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
                        <div class="user">
                            <div class="thumb-area">
                                <div class="thumb">
                                    <img th:src="@{'/backend/dist/img/user-picture/' + ${#request.userPrincipal.principal.profilePicture}}" th:alt="${#request.userPrincipal.principal.profilePicture}">
                                </div>
                                <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                                <input type="file" id="profile-pic" class="d-none">
                            </div>
                            <div class="content">
                                <h5 class="title"><a href="#0" th:utext="${#request.userPrincipal.principal.getFullName()}"></a></h5>
                                <span class="username" th:utext="${#request.userPrincipal.principal.createAt}"></span>
                            </div>
                        </div>
                        <ul class="dashboard-menu" th:replace="frontend/layout/pages/account/menu :: menu"></ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="dash-bid-item dashboard-widget mb-40-60">
                        <div class="header">
                            <h4 class="title">My Wishlist</h4>
                        </div>
                        <div class="button-area justify-content-between">
                            <form class="product-search">
                                <input type="text" placeholder="Item Name">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                            <div class="sort-winning-bid">
                                <div class="item">Sort By : </div>
                                <select name="sort-by" class="select-bar">
                                    <option value="all">All</option>
                                    <option value="name">Name</option>
                                    <option value="date">Date</option>
                                    <option value="type">Type</option>
                                    <option value="car">Car</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-30-none justify-content-center">
                        <div class="col-sm-10 col-md-6" th:each="productWish : ${productWishList}" th:if="${productWish.getBidDetail() == null}">
                            <div class="auction-item-2">
                                <div class="auction-thumb">
                                    <a th:href="@{'/product/' + ${productWish.getSlug()}}"><img th:src="@{'/backend/dist/img/products/' + ${productWish.getImagesCollection()[0].getName()}}" alt="car"></a>
                                    <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                    <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a th:href="@{'/product/' + ${productWish.getSlug()}}"></a>
                                    </h6>
                                    <div class="bid-area">
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-auction"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Sale Price</div>
                                                <div class="amount" th:utext="${productWish.getSavePrice()}"></div>
                                            </div>
                                        </div>
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-money"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Price</div>
                                                <div class="amount"><del th:utext="${productWish.getUnitPrice()}"></del></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <span class="total-bids" th:utext="${productWish.getStock() + 'IN STOCK'}"></span>
                                    </div>
                                    <div class="text-center">
                                        <a th:href="@{'/product/' + ${productWish.getSlug()}}" class="custom-button">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-6" th:each="productWish : ${productWishList}" th:unless="${productWish.getBidDetail() == null}">
                            <div class="auction-item-2">
                                <div class="auction-thumb">
                                    <a th:href="@{'/product/' + ${productWish.getSlug()}}"><img th:src="@{'/backend/dist/img/products/' + ${productWish.getImagesCollection()[0].getName()}}" alt="car"></a>
                                    <a href="#0" class="rating"><i class="far fa-star"></i></a>
                                    <a href="#0" class="bid"><i class="flaticon-auction"></i></a>
                                </div>
                                <div class="auction-content">
                                    <h6 class="title">
                                        <a th:href="@{'/product/' + ${productWish.getSlug}}"></a>
                                    </h6>
                                    <div class="bid-area">
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-auction"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Current Bid</div>
                                                <div class="amount" th:utext="${productWish.getBidDetail().getCurrentPrice()}"></div>
                                            </div>
                                        </div>
                                        <div class="bid-amount">
                                            <div class="icon">
                                                <i class="flaticon-money"></i>
                                            </div>
                                            <div class="amount-content">
                                                <div class="current">Buy Now</div>
                                                <div class="amount" th:utext="${productWish.getUnitPrice()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="countdown-area">
                                        <div class="countdown">
                                            <div id="bid_counter26"></div>
                                        </div>
                                        <span class="total-bids" th:utext="${productWish.getBidDetail().getBidHistories().size() + 'Bids'}"></span>
                                    </div>
                                    <div class="text-center">
                                        <a th:href="@{'/product/' + ${productWish.getSlug()}}" class="custom-button">Submit a bid</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--============= Dashboard Section Ends Here =============-->
</div>
</body>
</html>